<% active_tab ||= :home %>

<div class="fixed bottom-0 left-0 right-0 max-w-md mx-auto bg-white border-t border-gray-200 z-50" data-controller="coming-soon">
  <div class="grid grid-cols-5 gap-0 px-2 py-1">
    <!-- 首页 Tab -->
    <%= link_to root_path, class: "flex flex-col items-center justify-center gap-1 py-1" do %>
      <% if active_tab == :home %>
        <%= image_tag "bottom_navigation/Tab首页-激活.png", class: "w-[40%] h-auto object-contain", style: "max-height: 48px;", alt: "首页" %>
      <% else %>
        <%= image_tag "bottom_navigation/Tab首页.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "首页" %>
        <span>首页</span>
      <% end %>
    <% end %>

    <!-- 会员 Tab -->
    <% if active_tab == :member %>
      <%= link_to members_path, class: "flex flex-col items-center justify-center gap-1 py-1" do %>
        <%= image_tag "bottom_navigation/Tab会员-激活.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "会员" %>
        <span class="text-[#7D7DE9]">会员</span>
      <% end %>
    <% else %>
      <%= link_to members_path, class: "flex flex-col items-center justify-center gap-1 py-1" do %>
        <%= image_tag "bottom_navigation/Tab会员.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "会员" %>
        <span>会员</span>
      <% end %>
    <% end %>

    <!-- 消息 Tab -->
    <% if active_tab == :message %>
      <%= link_to messages_path, class: "flex flex-col items-center justify-center py-1 relative" do %>
        <%= image_tag "bottom_navigation/Tab消息-激活.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "消息" %>
        <span class="text-[#7D7DE9]">消息</span>
        <% if unread_notifications_count > 0 %>
          <div class="absolute top-1 left-1/2 transform -translate-x-1/2">
            <div class="ml-[20px] w-2 h-2 bg-red-500 rounded-full"></div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to messages_path, class: "flex flex-col items-center justify-center py-1 relative" do %>
        <%= image_tag "bottom_navigation/Tab消息.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "消息" %>
        <span>消息</span>
        <% if unread_notifications_count > 0 %>
          <div class="absolute top-1 left-1/2 transform -translate-x-1/2">
            <div class="ml-[20px] w-2 h-2 bg-red-500 rounded-full"></div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <!-- 行程 Tab -->
    <% if active_tab == :trip %>
      <%= link_to trips_path, class: "flex flex-col items-center justify-center py-1" do %>
        <%= image_tag "bottom_navigation/Tab行程-激活.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "行程" %>
        <span class="text-[#7D7DE9]">行程</span>
      <% end %>
    <% else %>
      <%= link_to trips_path, class: "flex flex-col items-center justify-center py-1" do %>
        <%= image_tag "bottom_navigation/Tab行程.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "行程" %>
        <span>行程</span>
      <% end %>
    <% end %>

    <!-- 我的 Tab -->
    <% if active_tab == :profile %>
      <%= link_to profile_path, class: "flex flex-col items-center justify-center py-1" do %>
        <%= image_tag "bottom_navigation/Tab我的-激活.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "我的" %>
        <span class="text-[#7D7DE9]">我的</span>
      <% end %>
    <% else %>
      <%= link_to profile_path, class: "flex flex-col items-center justify-center py-1" do %>
        <%= image_tag "bottom_navigation/Tab我的.png", class: "w-[30%] h-auto object-contain", style: "max-height: 36px;", alt: "我的" %>
        <span>我的</span>
      <% end %>
    <% end %>
  </div>
</div>
